.blog-post-col {
  margin-bottom: 1.25rem;
}
.blog-post {
  display: flex;
  flex-direction: column;
  border-top: 3px solid purple;
  min-height: 100%;
}
.header-break {
  margin-bottom: 0.75rem;
}
.blog-card-footer {
  border-top: 1px dotted gray;
  margin-top: auto;
  padding-top: 0.5rem;
}